@import "./components/header.css";
@import "./components/menu.css";
@import "./components/option.css";
@import "./components/footer.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  font-family: Montserrat, Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-style: normal;
}

html,
body {
  height: 100%;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.content {
  flex: 1 0 auto;
  display: flex;
  justify-content: center;
}

.main {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 42px 0 20px;
  padding: 0 16px;
}

@media (min-width: 768px) {
  .main {
    margin: 96px 0 16px;
  }
}

.main__options {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  gap: 24px;
}

@media (min-width: 768px) {
  .main__options {
    gap: 32px;
  }
}

@media (min-width: 768px) {
  .main__options {
    flex-direction: row;
  }
}

.main__option-container {
  max-width: 352px;
}
