.main {
  padding: 0 16px;
  margin-top: 23px;
  display: flex;
}

@media (min-width: 768px) {
  .main {
    margin-top: 77px;
  }
}

.main__wrapper {
  max-width: 1200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main__options {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  gap: 24px;
}

@media (min-width: 768px) {
  .main__options {
    gap: 32px;
  }
}

@media (min-width: 768px) {
  .main__options {
    flex-direction: row;
  }
}

.main__option-container {
  max-width: 352px;
}
